.brief-right__img,
.brief-left__img{
  display: block;
  width: 532px;
  height: 424px;
}

.brief-right__feature-img1,
.brief-right__feature-img2,
.brief-left__feature-img1,
.brief-left__feature-img2{
  width: 33px;
  height: 33px;
  border-radius: 10%;
}

.brief-right__feature-img1{
  background: url("../img/icon_1.png") @color-blue center no-repeat;
}

.brief-right__feature-img2{
  background: url("../img/icon_2.png") @color-blue center no-repeat;
}

.brief-left__feature-img1{
  background: url("../img/icon_3.png") @color-blue center no-repeat;
}

.brief-left__feature-img2{
  background: url("../img/icon_4.png") @color-blue center no-repeat;
}
