.page-footer__content-top{
  height: 225px;
  padding: 80px 0;
  text-align: center;
}

.page-footer__content-top p{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  color: @color-darkgray;
}

.page-footer__content-top b{
  color: @color-blue;
  text-transform: uppercase;
  font-family: 'raleway';
}

.page-footer__icon-mail{
  width: 18px;
  height: 14px;
  margin-right: 20px;
}

.page-footer__content-bottom{
  position: relative;
  height: 225px;
  background: @color-bggray;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 75px 0 0;
}

.page-footer__content-bottom .wrapper{
  margin: 0 auto;
  text-align: center;
}

.page-footer__logo{
    display: block;
    width: 104px;
    height: 26px;
    margin: 0 auto 20px;
}

.page-footer__social li{
  display: inline-block;
}

.page-footer__social-fb,
.page-footer__social-tw,
.page-footer__social-pi,
.page-footer__social-g,
.page-footer__social-inst,
.page-footer__social-ln{
  display: inline-block;
  width: 26px;
  height: 25px;
}

.page-footer__social-fb{
  background: url("../img/icon_footer_fb.png");
}

.page-footer__social-tw{
  background: url("../img/icon_footer_tw.png");
}

.page-footer__social-pi{
  background: url("../img/icon_footer_pinterest.png");
}

.page-footer__social-g{
  background: url("../img/icon_footer_g.png");
}

.page-footer__social-inst{
  background: url("../img/icon_footer_inst.png");
}

.page-footer__social-ln{
  background: url("../img/icon_footer_ln.png");
}

.page-footer__copyright{
  margin-bottom: 20px;
}
