.trusted__logo-vogue{
  width: 129px;
  height: 45px;
}

.trusted__logo-mashable{
  width: 136px;
  height: 26px;
}

.trusted__logo-tnw{
  width: 114px;
  height: 35px;
}

.trusted__logo-national-georaphic{
  width: 136px;
  height: 40px;
}

.trusted__item{
  width: 361px;
  height: 243px;
  background: url("../img/img_text.png") no-repeat;
}
